<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.devildyw.cl_dianping.core.mapper.BlogMapper">
    <select id="selectBatchIdsOrderByIds" resultType="top.devildyw.cl_dianping.core.entity.Blog">
        select * from tb_blog
        <where>
            id in
            <foreach collection="list" open="(" item="item" separator="," close=")">
                #{item}
            </foreach>
        </where>
        order by field(id,
        <foreach collection="list" item="id" close=")" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
